h2{
    text-align: center;
}

.contenedor{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    width: 100%;
}

div{
    width: 30%;
}

img{
    width: 200px;
}

#verificar{
    margin-left: 48%;
}

input{
    width: 150px;
}

input::placeholder {
    font-style: italic;
  }